@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #053461;
    color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto;
}

header blockquote {
    padding-top: 70px;
    text-align: right;
}

main {
    width: 85%;
    margin: 70px auto;
}

h1 {
    color: #999999;
}

.colonnes {
    display: grid;
    grid-template-columns: auto auto;
}

.colonnes > div > div {
    padding-top: 50px;
}

footer {
    background-color: #053461;
    color: white;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: auto auto;
}

footer .copy {
    font-size: smaller;
    display: flex;
    align-items: center;
}

footer .social {
    text-align: right;
}

.social-icons img {
    max-width: 30px;
    max-height: 30px;
    margin: 5px;
}